body{
background-image: linear-gradient(to right, rgb(172, 172, 145), rgb(17, 54, 71));
}
.contato{
  background-color: #199319;
  color:black;
  padding: 15px 25px;
  text-decoration: none;
  align-items: center;
}
.Foto{
    border-radius: 10px;
} 
.Teste{
    border-radius: 20px;
    align-self: center;
    width: 50%;
    height: 50;
} 
body{
    background-color: black ;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-style: italic;
    text-align: center;
    font-size: xx-large;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-style: normal;
    text-align: justify;
    padding: 60px;
    font-size: x-large;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding: 30px;
    top: 50%;
    left: 50%;
    display: inline-block;
    font-size: x-large;
    font-style: normal;
    text-align: justify;
}

#submit{
    background-image: linear-gradient(to right,rgb(45, 52, 60), rgb(58, 72, 67));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(41, 40, 40, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 60%;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}